:root {
  --shadow-soft: 0 14px 30px 0 rgb(107, 107, 107, 0.10), 0 2px 2px 0 rgb(107, 107, 107, 0.25)

  --color-primary-50: #fffaf2;
  --color-primary-100: #fff0d9;
  --color-primary-150: #ffe7bf;
  --color-primary-200: #ffdda6;
  --color-primary-250: #ffd38c;
  --color-primary-300: #ffc973;
  --color-primary-350: #ffbf59;
  --color-primary-400: #ffb640;
  --color-primary-450: #ffac26;
  --color-primary-500: #ffa20d;
  --color-primary-550: #f29500;
  --color-primary-600: #d98600;
  --color-primary-650: #bf7600;
  --color-primary-700: #a66600;
  --color-primary-750: #8c5600;
  --color-primary-800: #734700;
  --color-primary-850: #593700;
  --color-primary-900: #402700;
  --color-primary-950: #261800;
  --color-primary-1000: #0d0800;
  --color-primary: #FF9E02;
  --color-primary-rgb: 255, 158, 2;
  --color-primary-contrast: #000000;
  --color-primary-contrast-rgb: 0, 0, 0;
  --color-primary-shade: #e08b02;
  --color-primary-tint: #ffa81b;

  --color-typo: #1e293b;
  --color-typo-50: #f8fafc;
  --color-typo-100: #f1f5f9;
  --color-typo-200: #e2e8f0;
  --color-typo-300: #cbd5e1;
  --color-typo-400: #94a3b8;
  --color-typo-500: #64748b;
  --color-typo-600: #475569;
  --color-typo-700: #334155;
  --color-typo-800: #1e293b;
  --color-typo-900: #0f172a;
  --color-typo-950: #020617;
}
